@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background: #20262f;
    
}
.button {
    all: unset;
    align-items: center;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--gray-300);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 9px 13px 9px 11px;
    position: relative;
    width: 115px;
  }
  
  .button .mail-instance {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .button .text {
    color: var(--gray-700);
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .radial-gray{
    background:radial-gradient(darkgrey,white);
  }